# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# -------------------------
# Virtual environments
# -------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# -------------------------
# Jupyter notebooks
# -------------------------
.ipynb_checkpoints/
.notebooks_cache/
*.nbconvert.ipynb




# -------------------------
# Streamlit / FastAPI
# -------------------------
.streamlit/
*.db
*.sqlite3

# -------------------------
# OS / Editor files
# -------------------------
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
